<h1>Astronauts</h1>

<% @astronauts.each do |astronaut| %>
<section id="astronauts-index-<%= astronaut.id %>">
  <p><%= astronaut.name %></p>
  <p><%= astronaut.age %></p>
  <p><%= astronaut.job %></p>
</section>
<% end %>
